[submodule "sassrv"]
	path = sassrv
	url = https://github.com/raitechnology/sassrv
[submodule "natsmd"]
	path = natsmd
	url = https://github.com/raitechnology/natsmd
[submodule "HdrHistogram_c"]
	path = HdrHistogram_c
	url = https://github.com/raitechnology/HdrHistogram_c
